<div class="container my-5">
  <h1><a href="/" class="title-link">‘Tis the Season...ing</a></h1>
  <h2>
    Add Your Own Recipe
  </h2>
  <form method="POST" action="">
    <fieldset>
      <legend>
        Your Information
      </legend>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="first_name">
              First Name
            </label>
            <input
              class="form-control"
              type="text"
              id="first_name"
              name="first_name"
              placeholder="First name"
              required
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="last_name">
              Last Name
            </label>
            <input class="form-control" type="text" id="last_name" name="last_name" placeholder="Last name" required />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">
          Email
        </label>
        <input class="form-control" type="email" id="email" name="email" placeholder="email" required />
      </div>
    </fieldset>
    <fieldset>
      <legend>
        Recipe Information
      </legend>
      <div class="form-group">
        <label for="title">
          Name of Recipe
        </label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          placeholder="Super Awesome Recipe Name"
          required
        />
      </div>
      <div class="form-group">
        <label for="main_ingredient">
          Main Ingredient
        </label>
        <input
          list="suggestions"
          type="text"
          class="form-control"
          id="main_ingredient"
          name="main_ingredient"
          placeholder="Main ingredient, e.g. chicken"
          required
        />
        <datalist id="suggestions">
          {{! Update this with call to db to get all possible/already entered main ingredients }}
          <option value="chicken"></option>
          <option value="fish"></option>
          <option value="chocolate"></option>
          <option value="peppers"></option>
          <option value="toast"></option>
        </datalist>
      </div>
      <div class="form-group">
        <label for="ingredients">
          Ingredients
        </label>
        <input
          type="text"
          class="form-control"
          id="ingredients"
          name="ingredients"
          aria-describedby="ingredients-help"
          placeholder="Enter ingredients as comma separted list"
          required
        />
        <small id="ingredients-help" class="form-text text-muted">
          Enter ingredients as a comma separated list, e.g.:
          chicken,
          onions, peppers
        </small>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">
          Recipe Category
        </label>
        <select class="form-control" id="category" name="category" required>
          {{! This list is set in the DB too. Any changes here need to be reflected with the table setup. }}
          <option value="entree">
            Entree
          </option>
          <option value="side dish">
            Side Dish
          </option>
          <option value="dessert">
            Dessert
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">
          Directions
        </label>
        <textarea class="form-control" id="directions" name="directions" rows="7" required></textarea>
      </div>
    </fieldset>
    <input type="submit" value="Add Your Recipe" class="btn btn-danger btn-block" />
  </form>
</div>