@import url("https://fonts.googleapis.com/css?family=Great+Vibes&display=swap");

body {
  background: linear-gradient(
      hsla(0, 0%, 100%, 0.85) 0%,
      hsla(0, 0%, 100%, 0.85) 100%
    ),
    url("https://source.unsplash.com/random/?christmas") no-repeat fixed center
      center / cover;
  padding-top: 2rem;
}

h1 {
  font-family: "Great Vibes", cursive;
  text-align: center;
  color: red;
  font-size: 6.5em;
}

.title-link {
  color:red;
  text-shadow: 1px 2px 4px hsla(0, 0%, 0%, .2);
  transition: text-shadow .2s ease;
}

.title-link:hover {
  color:red;
  text-decoration:none;
  text-shadow: none;
  
}

h2 {
  text-align: center;
  color: red;
  margin-bottom: 4rem;
}

.add-recipe {
  float: right;
  margin: 3rem 0;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  opacity: 0.7;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

td a {
  color:red;
}

td a:hover {
  color:red;
  text-decoration: underline;
}